<div class="oauth2-client-registration">
    <ol>
        {% for instruction in instructions %}

            <li>{{ instruction | raw }}.</li>

        {% endfor %}

        <li>
            For the {{ callbackTerm }}, you must enter exactly the following:<br />
            <input type="text" value="{{ callbackUri }}" class="form-control" readonly>
        </li>
        <li>
            {{ provider.displayName }} will assign to you a &quot;{{ clientIdTerm }}&quot;{% if provider.clientSecretUsed %} and &quot;{{ clientSecretTerm }}&quot;{% endif %}.
            Enter {% if provider.clientSecretUsed %}those two values{% else %}that value{% endif %} below.
        </li>
    </ol>
</div>